.active{
    background-color: #ECBD00;
    color: white;
    border-radius: 20px;
}

.my-bg{
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chef1-bg{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/chef1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chef2-bg{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/chef2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chef3-bg{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/chef3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.allFood-bg{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/allfoodimg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.addFood-bg{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/xtra1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.updateFood-bg{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./assets/images/xtra2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{
    background-color: #ECBD00;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
}
button:hover{
    background-color: #ffdc51;
}

.selected{
    background-color: #ECBD00;
}